[Unit]
Description=xremap user service
After=default.target

[Service]
ExecStart=/usr/bin/xremap --watch=device /etc/xremap.yml
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
