[Unit]
Description=Xremap
After=default.target

[Service]
ExecStart=/usr/bin/xremap --watch=device %h/.config/xremap/config.yml
Restart=always
StandardOutput=journal
StandardError=journal

MemoryHigh=8M
MemoryMax=16M
IPAddressDeny=any

[Install]
WantedBy=default.target
