# 1. Copy this to ~/.config/systemd/user/xremap.service
# 2. systemctl --user enable xremap
#
# Note that you need to set proper $DISPLAY on your environment.

[Unit]
Description=xremap

[Service]
KillMode=process
ExecStart=/usr/bin/xremap /home/k0kubun/.xremap
ExecStop=/usr/bin/killall xremap
Restart=always

# Update DISPLAY to be the same as `echo $DISPLAY` on your graphical terminal.
Environment=DISPLAY=:1

[Install]
WantedBy=default.target
