[package]
name = "xremap"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
evdev = "0.11.3"
nix = "0.23.1"
yaml-rust = "0.4"
