name: cargo
on:
  push:
    branches:
      - master
      - feature*
    tags:
      - v*
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
env:
  CARGO_TERM_COLOR: always
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v2
        with:
          key: ubuntu-latest
      - run: cargo fmt --check

  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64, aarch64]
        feature: [x11, gnome, kde, hypr, wlroots, niri]
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          target: ${{ matrix.arch }}-unknown-linux-musl
      - uses: Swatinem/rust-cache@v2
        with:
          key: ubuntu-latest-${{ matrix.arch }}-${{ matrix.feature }}

      - run: cargo install cross
      - name: cross build
        run: cross build --release --features ${{ matrix.feature }} --target=${{ matrix.arch }}-unknown-linux-musl

      - name: package
        run: zip "xremap-linux-${{ matrix.arch }}-${{ matrix.feature }}.zip" xremap
        working-directory: target/${{ matrix.arch }}-unknown-linux-musl/release

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: xremap-${{ matrix.arch }}-${{ matrix.feature }}
          path: target/${{ matrix.arch }}-unknown-linux-musl/release/xremap-linux-${{ matrix.arch }}-${{ matrix.feature }}.zip

      - name: lint
        run: cargo check --features ${{ matrix.feature }}

  build-libc:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        feature: [udev]
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          target: x86_64-unknown-linux-gnu
      - uses: Swatinem/rust-cache@v2
        with:
          key: ubuntu-latest-glibc-${{ matrix.feature }}

      - name: Install libudev dependencies
        run: sudo apt-get update && sudo apt-get -y install pkg-config libudev1 libudev-dev

      - name: Build
        run: cargo build --release --features ${{ matrix.feature }}

      - name: lint
        run: cargo check --features ${{ matrix.feature }}

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v2
        with:
          key: ubuntu-latest
      - name: Run unit tests
        run: cargo test
      - name: Run device tests
        run: sudo -E env "PATH=$PATH" cargo test --tests --features device-test

      - name: lint
        run: cargo check --tests --features device-test

  # Release xremap binaries on GitHub
  release:
    runs-on: ubuntu-latest
    needs:
      - build
      - test
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      # Fetch x86_64 binary
      - { uses: actions/download-artifact@v4, with: { name: xremap-x86_64-x11,     path: package/ } }
      - { uses: actions/download-artifact@v4, with: { name: xremap-x86_64-gnome,   path: package/ } }
      - { uses: actions/download-artifact@v4, with: { name: xremap-x86_64-kde,     path: package/ } }
      - { uses: actions/download-artifact@v4, with: { name: xremap-x86_64-hypr,    path: package/ } }
      - { uses: actions/download-artifact@v4, with: { name: xremap-x86_64-wlroots, path: package/ } }
      - { uses: actions/download-artifact@v4, with: { name: xremap-x86_64-niri,    path: package/ } }

      # Fetch aarch64 binary
      - { uses: actions/download-artifact@v4, with: { name: xremap-aarch64-x11,     path: package/ } }
      - { uses: actions/download-artifact@v4, with: { name: xremap-aarch64-gnome,   path: package/ } }
      - { uses: actions/download-artifact@v4, with: { name: xremap-aarch64-kde,     path: package/ } }
      - { uses: actions/download-artifact@v4, with: { name: xremap-aarch64-hypr,    path: package/ } }
      - { uses: actions/download-artifact@v4, with: { name: xremap-aarch64-wlroots, path: package/ } }
      - { uses: actions/download-artifact@v4, with: { name: xremap-aarch64-niri,    path: package/ } }

      # Release binary
      - name: Release
        run: |
          set -e
          export VERSION=$(echo "$GITHUB_REF" | sed -e 's!refs/tags/!!')
          curl -L "https://github.com/tcnksm/ghr/releases/download/${GHR_VERSION}/ghr_${GHR_VERSION}_linux_amd64.tar.gz" -o ghr.tar.gz
          printf "%s\n" "bdf8f7134ac5362c18debf34e10fd50b5141d9d7ae4d9f3863b67236a31012eb  ghr.tar.gz" | sha256sum -c --strict
          tar xvzf ghr.tar.gz
          "ghr_${GHR_VERSION}_linux_amd64/ghr" -u hpccc53 -r xremap -replace -n "$VERSION" "$VERSION" package/
        env:
          GHR_VERSION: v0.17.0
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
