# from https://github.com/gofiber/swagger/blob/main/.github/workflows/dependabot_automerge.yml
name: dependabot
on:
  pull_request_target:

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Dependabot metadata
        uses: dependabot/fetch-metadata@21025c705c08248db411dc16f3619e6b5f9ea21a
        id: metadata
      - name: Wait for status checks
        uses: lewagon/wait-on-check-action@74049309dfeff245fe8009a0137eacf28136cb3c
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          check-regexp: '(build|test|fmt) \(.*\)'
          wait-interval: 30
      - name: Auto-merge for Dependabot PRs
        if: ${{ steps.metadata.outputs.update-type == 'version-update:semver-minor' || steps.metadata.outputs.update-type == 'version-update:semver-patch'}}
        run: gh pr merge --auto --rebase "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
